* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

button.start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Copperplate Gothic';
    background-color: transparent;
    border: none;
}

button.start:hover {
    font-size: 10.3vw;
    color: goldenrod;
}

.selector-title {
    display: grid;
    grid-template-columns: auto auto;
}

.title {
    font-size: 4vw;
    color: #ffffff;
    font-family: 'Copperplate Gothic';
}

.centered-title {
    font-size: 4vw;
    color: #ffffff;
    font-family: 'Copperplate Gothic';
    text-align: center;
}

.centered-subtitle {
    font-size: 2.5vw;
    color: #ffffff;
    font-family: 'Copperplate Gothic';
    text-align: center;
}

.title-section {
    display: grid;
    grid-template-columns: auto;
}

.selector-count {
    font-size: 2.5vw;
    color: #ffffff;
    font-family: 'Copperplate Gothic';
    text-align: right;
    background-color: transparent;
    border: none;
}

.selector-count-start {
    font-size: 2.5vw;
    color: lawngreen;
    font-family: 'Copperplate Gothic';
    text-align: right;
    background-color: transparent;
    border: none;
}

.team-selector-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-row-gap: 5vw;
    grid-auto-flow: row;
}

.team-selector {
    display: grid;
    grid-gap: 6vh 1vw;
    grid-template-columns: 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw;
}

.team-selector-element {
    display: grid;
    font-family: 'Copperplate Gothic';
    color: #ffffff;
    font-size: 1.5vw;
    grid-gap: 0px 0px;
    column-count: 1;
    text-align: center;
}

.selected-cell {
    display: grid;
    font-family: 'Copperplate Gothic';
    color: lawngreen;
    font-size: 1.5vw;
    grid-gap: 0px 0px;
    column-count: 1;
    text-align: center;
}

.not-unlocked {
    filter: brightness(0);
}

.team-selector-element:hover, .selected-cell:hover {
    color: goldenrod;
}

.pixel-sprite {
    width: 100%;
    height: 100%;
}

.encounter-selector {
    justify-content: center;
    display: grid;
    grid-gap: 4vw 5vw;
    grid-template-columns: 15vw 15vw;
}

.scripted-encounter {
    justify-content: center;
    display: grid;
    grid-gap: 4vw 5vw;
    grid-template-columns: 15vw;
}

.path-icon {
    width: 100%;
    height: auto;
}

.pokemon-displayer-left {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 3vh;
    font-family: 'Copperplate Gothic';
    text-align: left;
    color: black;
    position: absolute;
    top: 30vh;
    left: 15vw;
    font-size: 1.2vw;
}

.pokemon-sprite {
    height: 100%;
    width: auto;
    justify-self: center;
    vertical-align: middle;
    display: block;
}

.pokemon-displayer-right {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 3vh;
    font-family: 'Copperplate Gothic';
    text-align: left;
    color: black;
    position: absolute;
    top: 20vh;
    right:15vw;
    font-size: 1.2vw;
}

.pokemon-header {
    display: grid;
    grid-template-columns: auto auto;
    background-color: lightgrey;
    grid-column-gap: .5vw;
}

.pokemon-hp {
    grid-column: 1 / 3;
    background: green;
    width: 100%;
}

.pokemon-name {
    font-weight: bold;
}

.pokemon-hp-text {
    text-align: right;
}

.effect-section {
    display: grid;
    grid-template-columns: 2vw 2vw 2vw 2vw 2vw 2vw 2vw;
    grid-column-gap: .2vw;
    grid-row-gap: .2vw;
    background: rgba(255, 255, 255, .25);
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
    font-family: 'Copperplate Gothic';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: right;
}

.effect-cell {
    display: grid;
    position: relative;
}

.effect-icon {
    width: 100%;
    height: auto;
    justify-self: center;
}

.action-section {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    background: rgba(255, 255, 255, .25);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: .5vw;
}

.action-information {
    background-color: transparent;
    justify-self: left;
    display: grid;
    grid-template-columns: auto auto auto;
}

.action-information-cell {
    width: 10vh;
    height: 10vh;
    display: grid;
    grid-template-columns: auto;
    font-weight: bold;
    font-size: 5vh;
    font-family: 'Copperplate Gothic';
    color: lightgrey;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    line-height: 10vh;
    text-align: center;
}

.stack {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
}

.moves-section {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: .2vw;
    justify-self: center;
}

.move-card {
    width: 11.8vw;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 2vh;
    border: solid;
    border-color: black;
    color: black;
    font-size: 2.3vh;
    font-family: 'Copperplate Gothic';
    background-color: lightslategrey;
    justify-self: center;
    vertical-align: middle;
}

.selected-move {
    width: 11.8vw;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 2vh;
    border: solid;
    border-color: red;
    color: red;
    font-size: 2.3vh;
    font-family: 'Copperplate Gothic';
    background-color: lightslategrey;
    justify-self: center;
    vertical-align: middle;
}

.move-card:hover, .selected-move:hover {
    background-color: grey;
}

.move-top, .move-bottom {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    align-items: center;
}

.type-icon {
    height: auto;
    max-width: 70%;
    text-align: left;
    margin-left: 5%;
}

.category-icon {
    height: auto;
    max-width: 100%;
    text-align: right;
}

.move-cost {
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
}

.move-name {
    vertical-align: middle;
}

.end-turn {
    width: 10vw;
    font-size: 3vh;
    color: black;
    font-weight: bold;
    font-family: 'Copperplate Gothic';
    background-color: lightslategrey;
    border: solid;
    justify-self: right;
}

.end-turn:hover {
    color: red;
    background-color: #ffd0d0;
    font-size: 3.1vh;
}

.switch-headers {
    display: grid;
    grid-auto-flow: row;
    position: absolute;
    left: 0;
    top: 0;
    width: 20vw;
    font-family: 'Copperplate Gothic';
    color: black;
    font-size: 1.2vw;
}

.switch-header {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    height: 12vh;
}

.switch-header:hover {
    color:darkgoldenrod;
}

.switch-pokemon {
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    display: block;
}

.preview-off {
    visibility: hidden;
}

.preview-on {
    width: 30vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    bottom: 12vh;
    font-family: 'Copperplate Gothic';
    color: white;
    font-size: 1.5vw;
    text-align: center;
    background: rgba(0, 0, 0, .4);
}

.fainted {
    animation: fadeOut 2s;
    -webkit-animation: fadeOut 2s;
    -moz-animation: fadeOut 2s;
    -o-animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

.environment-section {
    display: grid;
    grid-auto-flow: row;
    font-family: 'Copperplate Gothic';
    color: white;
    font-size: 1.2vw;
    text-align: right;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    right: 0;
    bottom: 12vh;
}

.gameover-grid {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 10vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.replay {
    background: rgba(0, 0, 0, .6)
}

.replay:hover {
    color: goldenrod;
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .85);
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.reward-selector {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.reward {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: .5vw;
}

.reward:hover {
    background: black;
}

.reward-sprite {
    max-height: 10vh;
    width: auto;
    vertical-align: middle;
    text-align: center;
}

.descriptor {
    width: 20vw;
    font-family: 'Copperplate Gothic';
    font-size: 1.15vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.static-move-card {
    width: 11.8vw;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 2vh;
    border: solid;
    border-color: black;
    color: black;
    font-size: 2.3vh;
    font-family: 'Copperplate Gothic';
    background-color: lightslategrey;
    justify-self: center;
    vertical-align: middle;
}

.descriptor-name {
    width: 10vw;
    font-family: 'Copperplate Gothic';
    font-size: 1.25vw;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.held-items-section {
    position: absolute;
    right: 0;
    top: 0;
    height: 8vh;
    max-width: 75vw;
    background: rgba(255, 255, 255, .25);
    display: grid;
    grid-auto-flow: column;
    column-gap: .4vw;
}

.held-items-pokemon {
    display: grid;
    grid-auto-flow: column;
    border-left: 2px solid black;
    column-gap: .2vw;
}

.item-pokemon-sprite {
    max-height: 8vh;
    width: auto;
    vertical-align: middle;
    text-align: center;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.item-sprite {
    max-height: 5vh;
    width: auto;
}

.money-text {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Copperplate Gothic';
    color: white;
    font-size: 1.5vw;
}

.article-section {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 8vw;
}

.article-selector {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 5vh;
}

.article {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1vw;
    color: white;
}

.price-tag {
    width: 3vw;
    font-family: 'Copperplate Gothic';
    font-size: 1.15vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sold {
    color: gray;
}

.remove-button {
    font-family: 'Copperplate Gothic';
    font-size: 1.15vw;
    text-align: center;
    color: white;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: .5vw;
    justify-self: center;
}

.remove-button:hover {
    color: goldenrod;
}

.remove-text {
    font-size: 1.5vw;
    font-weight: bold;
}

.remove-selector {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 5vh;
    color: white;
    position: absolute;
    margin-top: 10vh;
    left: 50%;
    transform: translate(-50%, 0%);
}

button.launch-tuto {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    font-size: 2vw;
    color: white;
    font-weight: bold;
    font-family: 'Copperplate Gothic';
    background-color: transparent;
    border: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
}

button.launch-tuto:hover {
    font-size: 2.1vw;
    color: goldenrod;
    -webkit-text-stroke-color: black;
}

.overlay-text {
    background: rgba(0, 0, 0, .65);
    font-size: 2vw;
    color: white;
    font-family: 'Copperplate Gothic';
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    text-align: center;
}

.filter-clear {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.blink {
    animation: blink-animation .2s steps(5, start) infinite;
    -webkit-animation: blink-animation .2s steps(5, start) infinite;
}

.damage-indicator {
    position: absolute;
    font-size: 5vh;
    font-weight: bold;
    color: red;
    font-family: 'Copperplate Gothic';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    animation: fadeShift 1s;
    -webkit-animation: fadeShift 1s;
    animation-fill-mode: forwards;
}

.damage-particles {
    max-height: 50%;
    width: auto;
    vertical-align: middle;
    text-align: center;
}

.sound-button {
    height: 8vh;
    width: auto;
    position: absolute;
    top: 3vh;
    left: 3vh;
}

.sound-button:hover {
    filter: invert()
}

.fade-dark1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background: rgba(0, 0, 0, 1);
    animation: fadeDark 1s;
    -webkit-animation: fadeDark 1s;
    -moz-animation: fadeDark 1s;
    -o-animation: fadeDark 1s;
    animation-fill-mode: forwards;
    z-index: 1;
}

.fade-dark2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background: rgba(0, 0, 0, 1);
    animation: fadeDark 2s;
    -webkit-animation: fadeDark 2s;
    -moz-animation: fadeDark 2s;
    -o-animation: fadeDark 2s;
    animation-fill-mode: forwards;
    z-index: 1;
}

.fade-in {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background: rgba(0, 0, 0, 1);
    animation: fadeOut 1s;
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -o-animation: fadeOut 1s;
    animation-fill-mode: forwards;
    z-index: 1;
}












@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeDark {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeDark {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeDark {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeDark {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink-animation {
    to {
        opacity: .5;
    }
}

@-webkit-keyframes blink-animation {
    to {
        opacity: .5;
    }
}

@keyframes fadeShift {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0.5;
        transform: translateY(-3vh);
    }
}

@-webkit-keyframes fadeShift {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0.5;
        transform: translateY(-3vh);
    }
}